/* Variables */
:root {
  --newspaper-brown: #E2DAC5;
  --ink-black: #2b2b2b;
  --worn-red: #C44E4E;
}

/* Font */
@font-face {
  font-family: "NYT";
  src: url('./Fonts/EnglishTowne-Normal.woff');
}

/* Constant Styles
////////////////// 
*/
.App {
  background-color: #f2e7cb;
  color: var(--ink-black);
  font-family: 'IM Fell English', serif;
  font-size: 1.5rem;
  padding: 25px 125px;
}

/* Header Styles */
.newspaper-header {
  width: fit-content;
  margin: 0 auto;
}

.newspaper-header,
.newspaper-date,
.newspaper-name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.newspaper-name h1 {
  font-family: NYT;
  font-size: 6rem;
  letter-spacing: 1rem;
}

.newspaper-name,
.newspaper-date {
  width: 100%;
  border-bottom: 10px solid var(--worn-red);
}

.newspaper-date {
  padding: 20px 0px;
}


/* Footer styles */
footer span {
  color: var(--worn-red);
}

footer {
  padding-top: 20px;
}

/* text */
.preview h1, 
.preview h2,
.preview h3,
.article h1,
.article h2,
.article h3,
.avatar-container {
  font-family: 'Bebas Neue';
}

.preview h1,
.article h1 {
  font-size: 5rem;
}

/*
////////////////////////
End constant styles 
*/

/* Home page/ article previews */
.previews {
  height: fit-content;
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.25fr 1fr 1fr;
  grid-template-areas: 
  "zero zero"
  "one one"
  "two three";
  margin-top: 50px;
}

.preview {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  border-bottom: 3px solid var(--ink-black);
  transition: all ease-in-out 0.3s;
}

.preview-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.preview:hover {
  cursor: pointer;
  box-shadow: 10px 5px 5px var(--ink-black);
}

.zero {
  grid-area: zero;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.image img {
  border: 3px solid var(--ink-black);
  padding: 5px;
  margin-right: 20px;
}

.one .image img {
  max-height: 350px;
  max-width: 350px;
  height: auto;
  width: auto;
}

.zero .image img {
  max-height: 700px;
  max-width: 700px;
  height: auto;
  width: auto;
}


/* Comments */
.comments-container {
  margin-top: 50px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  height: 175px;
  justify-content: space-between; 
  margin-bottom: 50px;
}

.comment-form input,
.comment-form textarea {
  padding: 5px;
}

.comment-form input,
.comment-form button {
  height: 30px;
}

.comment-form textarea {
  height: 60px;
}

/* Article */
.article {
  margin-top: 50px;
}

/* Comment */
.comment-container {
  width: 100%;
  min-height: 110px;
  flex-direction: column;
  margin-top: 50px;
  border-bottom: 3px solid var(--ink-black);
}

.comment-author, 
.avatar,
.comment-container {
  display: flex;
  justify-content: space-between;
}

.avatar-container {
  display: flex;
  align-items: center;
}

.author-name {
  margin-left: 10px;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--worn-red);
  align-items: center;
  justify-content: center;
}

/* queries
//////////
*/

@media screen and (max-width: 600px) {
  /* App styles */
  .App {
    font-size: 1rem;
    padding: 25px;
  }

  /* Text */
  .preview h1,
  .article h1 {
    font-size: 2rem;
  }

  .newspaper-name h1 {
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
  }

  /* Previews */
  .previews {
    margin-top: 10px;
  }

  .preview {
    flex-direction: column-reverse;
    margin-top: 10px;
  }

  .one .image img {
    max-height: 250px;
    max-width: 250px;
    height: auto;
    width: auto;
  }
  
  .zero .image img {
    max-height: 320px;
    max-width: 320px;
    height: auto;
    width: auto;
  }
}

@media screen and (min-width: 601px) and (max-width: 1400px) {
  /* App styles */
  .App {
    font-size: 1.25rem;
    padding: 25px;
  }

  /* Text */
  .preview h1,
  .article h1 {
    font-size: 2rem;
  }

  .newspaper-name h1 {
    font-size: 3.5rem;
    letter-spacing: 0.5rem;
  }

  /* Previews */
  .previews {
    margin-top: 10px;
  }

  .preview {
    flex-direction: column-reverse;
    margin-top: 10px;
  }

  .one .image img {
    max-height: 350px;
    max-width: 350px;
    height: auto;
    width: auto;
  }
  
  .zero .image img {
    max-height: 450px;
    max-width: 450px;
    height: auto;
    width: auto;
  }
}