/* Variables */
:root {
  --newspaper-brown: #E2DAC5;
  --ink-black: #2b2b2b;
  --worn-red: #C44E4E;
}

/* Font */
@font-face {
  font-family: "NYT";
  src: url('./Fonts/EnglishTowne-Normal.woff');
}

/* App Style */
.App {
  background-color: var(--newspaper-brown);
  color: var(--ink-black);
  font-family: 'IM Fell English', serif;
  font-size: 1.5rem;
  padding: 25px 210px;
}

/* Header Styles */
.newspaper-header {
  width: fit-content;
  margin: 0 auto;
}

.newspaper-header,
.newspaper-date,
.newspaper-name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.newspaper-name h1 {
  font-family: NYT;
  font-size: 6rem;
  letter-spacing: 1rem;
}

.newspaper-name,
.newspaper-date {
  width: 100%;
  border-bottom: 10px solid var(--worn-red);
}

.newspaper-date {
  padding: 20px 0px;
}


/* Footer styles */
footer span {
  color: var(--worn-red);
}

footer {
  padding-top: 20px;
}